<h1>Listing contatos</h1>

<table>
  <thead>
    <tr>
      <th>Mensagem</th>
      <th>User</th>
      <th>Tipo</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contatos.each do |contato| %>
      <tr>
        <td><%= contato.mensagem %></td>
        <td><%= contato.user.email %></td>
        <td><%= contato.tipo_id %></td>
        <td><%= contato.created_at.strftime("%d %b, %Y - %H:%M") %></td>
        <td><%= link_to 'Show', contato %></td>
        <td><%= link_to 'Edit', edit_contato_path(contato) %></td>
        <td><%= link_to 'Destroy', contato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contato', new_contato_path %>
