<%= content_for :title, 'Chamada #' + @chamada.id.to_s %>
<p>
  <strong>Status:</strong>
  <%= @chamada.status %>
</p>

<p>
  <strong>Linha:</strong>
  <%= @chamada.linha %>
</p>

<p>
  <strong>Parada:</strong>
  <%= @chamada.parada_id %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @chamada.descricao %>
</p>

<p>
  <strong>User:</strong>
<% if @chamada.user %>
  <%= @chamada.user.email %>      
<% else %>
  <%= @chamada.user_id %>      
<% end %>
  
</p>

<p>
  <strong>Data:</strong>
  <%= @chamada.created_at.strftime("%d %b, %Y - %H:%M") %>
</p>

<%= link_to 'Edit', edit_chamada_path(@chamada) %> |
<%= link_to 'Back', chamadas_path %>
