<p id="notice"><%= notice %></p>

<p>
  <strong>Linha:</strong>
  <%= @chamada.linha %>
</p>

<p>
  <strong>Parada:</strong>
  <%= @chamada.parada_id %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @chamada.descricao %>
</p>

<p>
  <strong>User:</strong>
  <%= @chamada.user.email %>
</p>

<p>
  <strong>Data:</strong>
  <%= @chamada.created_at.strftime("%d %b, %Y - %H:%M") %>
</p>

<%= link_to 'Edit', edit_chamada_path(@chamada) %> |
<%= link_to 'Back', chamadas_path %>
