<h1>Listing tipos_contatos</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipos_contatos.each do |tipos_contato| %>
      <tr>
        <td><%= tipos_contato.descricao %></td>
        <td><%= link_to 'Show', tipos_contato %></td>
        <td><%= link_to 'Edit', edit_tipos_contato_path(tipos_contato) %></td>
        <td><%= link_to 'Destroy', tipos_contato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipos contato', new_tipos_contato_path %>
