<%= form_for(@parada) do |f| %>
  <% if @parada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parada.errors.count, "error") %> prohibited this parada from being saved:</h2>

      <ul>
      <% @parada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :linha %><br>
    <%= f.text_field :linha %>
  </div>
  <div class="field">
    <%= f.label :sequencia %><br>
    <%= f.number_field :sequencia %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.number_field :latitude, :class => 'text_field', :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.number_field :longitude, :class => 'text_field', :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_area :endereco %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
